body{
    margin: 0px;
    height: 95vh;
    width: 90vh;
    border-color: white;
    display: flex;
    
    
}


#calci{
    display: flex;
    align-items: center;
    background-color: wheat;
    height: 50%;
    width: 60%;
flex-direction: column;
justify-content: center;
/* align-items: center; */
border: 2px solid black;



} 

#display {
height: 50px;
width: 200px;





}

#buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    justify-content:center ;


}

button { border: none;
    font-size:  20px;
    padding: 10px;
    color: black;
    border-radius: 50%;

    
}

button:hover{
    background-color: #09a74a;
}